$font: 'Press Start 2P';

$backBodyColorGrad: linear-gradient(180deg, #853ffb 0%, rgba(249,85,72,1) 100%);

$headerBgColor: #8e40ec;
$linkColor: #ffffff;
$linkHover: #04e9f4;

$btnColor: #04e9f4;

$footerBackColor: rgba(0, 0, 0, 0.704);

$tableBorder: #8e40ec;
$tableColor: #ffffff;
$tableBg: rgba(0, 0, 0, 0.579);
$borderBotEdit: #04e9f4;

$saveBtn: rgba(94, 218, 0, 0.729);
$removeBtn: rgb(184, 0, 0);
$editBtn: rgb(184, 184, 0);

$modalBg: rgba(0, 0, 0, 0.579);
$modalColor: #8e40ec;

$gameWordColor: #8d40ecc5;
$gameLetterColor: #ffffffcb;
$gameLetterHoverColor: rgba(249,85,72,1);